.wrapper {
  text-align: center;
  background-color: #f6f6f6;
  .content {
    max-width: 980px;
    margin: 0 auto 0;
    height: 1000px;
    background-color: #fff;
    border: 1px solid #f0f2f7;
    padding: 20px;
  }
}
