.wrapper {
  position: relative;
  .post_actions {
    position: absolute;
    .publish {
      margin-left: 16px;
      margin-top: 16px;
    }
  }
  .rich_text_wrapper {
    margin: 0 auto 0;
    max-width: 1000px;
  }
  ol,
  ul {
    padding-left: 40px;
  }
}
