.wrapper {
  width: 100%;
  padding-top: 150px;
  text-align: center;
  background-color: #fff;
  @media screen and (min-width: 998px) {
    .main_title {
      font-size: 60px;
    }
    .sub_title {
      font-size: 35px;
      font-weight: 400;
    }
  }
  @media screen and (max-width: 750px) {
    .main_title {
      font-size: 30px;
    }
    .sub_title {
      font-size: 20px;
      font-weight: 400;
    }
  }
}
