* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: PingFang SC, HarmonyOS_Regular, Helvetica Neue, Microsoft YaHei,
    sans-serif;
  -webkit-font-smoothing: antialiased;
}

*::after,
*::before {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #262626;
  &:hover {
    color: #00b96b;
  }
}
a,
input,
button {
  font: inherit;
}
h1 {
  margin: 8px 0;
}
p {
  margin: 4px 0;
}

// 覆盖ckEdit编辑器相关样式
.ck-restricted-editing_mode_standard {
  min-height: 600px;
}

.ck.ck-editor__editable > h1[data-placeholder="输入标题"] {
  text-align: center;
}

.ck-focused {
  border: 1px solid #00b96b !important;
  box-shadow: none !important;
}

.ck-restricted-editing_mode_standard {
  border: none !important;
}

.ck-toolbar {
  border: none !important;
  background-color: #fff !important;
  color: #000 !important;
  border-bottom: 1px solid #d9d9d9 !important;
}

.item_current {
  animation: identifier 1s;
  border-radius: 10px;
  @keyframes identifier {
    from {
      background-color: #f5f7fa;
    }
    to {
      background-color: #04f2932a;
    }
  }
}
